<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 기능</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet"> <!-- Google Fonts 추가 -->
</head>
<body>
    <header>
        <h1>네이버 API 즐겨찾기</h1>
        <div class="search-container">
            <input type="text" id="searchQuery" placeholder="검색어 입력">
            <button onclick="search()">검색</button>
        </div>
        <div class="login-container" sec:authorize="!isAuthenticated()">
            <button  onclick="window.location.href='/login'">로그인</button>
        </div>
		<div class="login-container" sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            	<button type="submit">로그아웃</button>
        	</form>
        </div>
    </header>
    
    <main>
        <section>
            <h2>검색 결과</h2>
            <div id="searchResults"></div>
        </section>
        
        <section>
            <h2>내 즐겨찾기</h2>
            <div id="favoriteList"></div>
        </section>
    </main>
    
    <script th:src="@{/js/api.js}"></script>
</body>
</html>
